@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot"),
    url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Medium.eot"),
    url("../fonts/Cormorant-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
